asposestorage==1.0.2
colorama==0.4.5
einops==0.6.0
h5py==3.7.0
loralib==0.1.1
matplotlib==3.5.1
numpy==1.23.1
opencv_python==4.6.0.66
Pillow==9.3.0
pykeops==2.1
PyYAML==6.0
sentencepiece==0.1.97
seq2seq==0.0.5
skimage==0.0
tensorflow==2.9.1
tokenizers==0.10.3
torch==1.10.0
torchvision==0.11.0
tqdm==4.62.3
transformers==4.15.0
